@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here are the Questions that has a valid answers you get to move forward on your work or Quries.</p>
</div>
